.moth{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;

  top: 110px;

  max-width: fit-content;

  color: var(--text-color);

  margin-left: 40px;
}
.moth ul{
  column-count: 3;
  gap: 0px 50px;
}
.moth li {
  display: flex;
  cursor: pointer;

  font-size: 18px;

  list-style-type: none;

  margin-bottom: 10px;
}
.moth li:hover{
  color: var(--buttonhover-color);
  transition: var(--tran-03);
}

.chart{
  width: 30vw;
  height: 60vh;

  margin-left: 48%;
  margin-top: 45px;
  top: 0;
}